<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/admin.js"></script>
  </head>
  <body>
    <div class="admin">
        <h1><%= title %></h1>
        <p>Welcome to Admin Overview Page of the Chat System</p>
        <p><%= //chats %></p>
        <p><%= //chats[0].Conversation[0].message %></p>

    <!-- Objects are stored as 
        [ { _id: 593ee1363a25e87dcd634f9b,
        id: '593ee1363a25e87dcd634f9b',
        creationTime: '1497293110803',
        active: false,
        Conversation: [ [Object], [Object], [Object], [Object] ],
        Users: [ 'b', 'a' ],
        __v: 4 },
          { _id: 593ee1533a25e87dcd634fa0,
            id: '593ee1533a25e87dcd634fa0',
            creationTime: '1497293139236',
            active: true,
            Conversation: [ [Object], [Object], [Object], [Object] ],
            Users: [ 'a', 'b' ],
            __v: 4 } ] -->

        <% for(i=0; i < chats.length; i++) { %>
            <div class="chatboxes">
                <h1 id="timer">Chat expires in <span id="timer<%= chats[i].id %>"></span></h1>
                <div class="chat" id="chat<%= chats[i].id %>">
                    <ul class="messages" id="messages<%= chats[i].id %>">
                    <% for(x=0; x < chats[i].Conversation.length; x++) { %>
                        <% if (chats[i].Conversation[x].sender != 'Admin') { %>
                            <li class="otheruser"><strong><%= chats[i].Conversation[x].sender %>:&nbsp;</strong><%= chats[i].Conversation[x].message %></li>
                        <% } else { %>
                            <li><strong><%= chats[i].Conversation[x].sender %>:&nbsp;</strong><%= chats[i].Conversation[x].message %></li>
                        <% } %>
                    <% } %>
                    </ul>
                    <div class="typing" id="typing<%= chats[i].id %>">A user is typing. . .</div>
                    <div id="entermessage">
                        <form action="" id="form<%= chats[i].id %>">
                            <input id="m<%= chats[i].id %>" placeholder="Enter Message" autocomplete="off" /><button id="send">Send</button>
                        </form>
                    </div>
                </div>
            </div>

        <% } %>

    </div>
  </body>
</html>













