<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>

        <% for(i=0; i < chats.length; i++) { %>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Messages</th>
                    <th>Time (sec)</th>
                    <th>User 1 Action</th>
                    <th>User 2 Action</th>
                </tr>
                <% for(x=0; x < Math.max(chats[i].Conversation.length, chats[i].user1plan.length, chats[i].user2plan.length); x++) { %>
                <tr>
                    <% if (chats[i].Conversation[x] != undefined) { %>
                    <td><%= chats[i].Conversation[x].sender %></td>
                    <td><%= chats[i].Conversation[x].message %></td>
                    <td><%= Math.round(Math.round(100 * ((chats[i].Conversation[x].timeCreated - chats[i].startTime)/1000))/100) - 5 %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <td><%= "" %></td>
                    <td><%= "" %></td>
                    <% } %>
                    <% if (chats[i].user1plan[x] != undefined) { %>
                        <% if (chats[i].type === "uav") { %>
                        <td><%= chats[i].user1plan[x].action %> <%= chats[i].user1plan[x].location %></td>
                        <% } else { %>
                        <td><%= chats[i].user1plan[x].count %> <%= chats[i].user1plan[x].missile %> from <%= chats[i].user1plan[x].ship %> to <%= chats[i].user1plan[x].target %></td>
                        <% } %>
                    <% } else { %>
                    <td><%= "" %></td>
                    <% } %>
                    <% if (chats[i].user2plan[x] != undefined) { %>
                        <% if (chats[i].type === "uav") { %>
                        <td><%= chats[i].user2plan[x].action %> <%= chats[i].user2plan[x].location %></td>
                        <% } else { %>
                        <td><%= chats[i].user2plan[x].count %> <%= chats[i].user2plan[x].missile %> from <%= chats[i].user2plan[x].ship %> to <%= chats[i].user2plan[x].target %></td>
                        <% } %>
                    <% } else { %>
                    <td><%= "" %></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        <% } %>

    </div>
  </body>
</html>
