<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>

        <% for(i=0; i < chatsystems.length; i++) { %>
            <table>
                <tr>
                    <th> Chat System ID:</th>
                    <th><%= chatsystems[i].id %></th>
                <tr>
                    <th>Scenario 1 Chat Room ID:</th>
                    <th><%= chatsystems[i].scenario1.id %></th>
                    <th>Chat Type:</th>
                    <th><%= chatsystems[i].scenario1.type %></th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Messages</th>
                    <th>Time (sec)</th>
                    <th>User 1 Action</th>
                    <th>User 2 Action</th>
                </tr>
                <% for(x=0; x < Math.max(chatsystems[i].scenario1.Conversation.length, chatsystems[i].scenario1.user1plan.length, chatsystems[i].scenario1.user2plan.length); x++) { %>
                <tr>
                    <% if (chatsystems[i].scenario1.Conversation[x] != undefined) { %>
                    <td><%= chatsystems[i].scenario1.Conversation[x].sender %></td>
                    <td><%= chatsystems[i].scenario1.Conversation[x].message %></td>
                    <td><%= Math.round(Math.round(100 * ((chatsystems[i].scenario1.Conversation[x].timeCreated - chatsystems[i].scenario1.startTime)/1000))/100) %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <td><%= "" %></td>
                    <td><%= "" %></td>
                    <% } %>
                    <% if (chatsystems[i].scenario1.user1plan[x] != undefined) { %>
                        <td><%= chatsystems[i].scenario1.user1plan[x].action %> <%= chatsystems[i].scenario1.user1plan[x].location %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <% } %>
                    <% if (chatsystems[i].scenario1.user2plan[x] != undefined) { %>
                        <td><%= chatsystems[i].scenario1.user2plan[x].action %> <%= chatsystems[i].scenario1.user2plan[x].location %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <% } %>
                </tr>
                <% } %>

                <tr>
                    <th>Scenario Chat 2 Room ID:</th>
                    <th><%= chatsystems[i].scenario2.id %></th>
                    <th>Chat Type:</th>
                    <th><%= chatsystems[i].scenario2.type %></th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Messages</th>
                    <th>Time (sec)</th>
                    <th>User 1 Action</th>
                    <th>User 2 Action</th>
                </tr>
                <% for(x=0; x < Math.max(chatsystems[i].scenario2.Conversation.length, chatsystems[i].scenario2.user1plan.length, chatsystems[i].scenario2.user2plan.length); x++) { %>
                <tr>
                    <% if (chatsystems[i].scenario2.Conversation[x] != undefined) { %>
                    <td><%= chatsystems[i].scenario2.Conversation[x].sender %></td>
                    <td><%= chatsystems[i].scenario2.Conversation[x].message %></td>
                    <td><%= Math.round(Math.round(100 * ((chatsystems[i].scenario2.Conversation[x].timeCreated - chatsystems[i].scenario2.startTime)/1000))/100) %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <td><%= "" %></td>
                    <td><%= "" %></td>
                    <% } %>
                    <% if (chatsystems[i].scenario2.user1plan[x] != undefined) { %>
                        <td><%= chatsystems[i].scenario2.user2plan[x].count %> <%= chatsystems[i].scenario2.user1plan[x].missile %> to <%= chatsystems[i].scenario2.user1plan[x].target %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <% } %>
                    <% if (chatsystems[i].scenario2.user2plan[x] != undefined) { %>
                        <td><%= chatsystems[i].scenario2.user2plan[x].count %> <%= chatsystems[i].scenario2.user2plan[x].missile %> to <%= chatsystems[i].scenario2.user2plan[x].target %></td>
                    <% } else { %>
                    <td><%= "" %></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
            <br>
            <br>
            <br>

        <% } %>

    </div>
  </body>
</html>
